<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App - Create</title>
    <%- include('./partials/styles.ejs') %>
</head>
<body>
    <% if (message && message.length > 0) { %>
        <% const { text, type } = message[0]; %>
        <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert" id="autoDismissAlert">
            <%= text %>
            <button type="button" class="btn-close ml-3 btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
<% } %>
    
    <!-- Main Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="my-3">Create Post</h1>
                <form action="/posts/create" method="post" enctype="multipart/form-data">

                    <!-- Title -->
                    <div class="mb-3">
                        <label for="heading" class="form-label">Heading</label>
                        <input type="text" name="heading" id="heading" class="form-control" required>
                    </div>

                    <!-- Subtitle -->
                    <div class="mb-3">
                        <label for="subheading" class="form-label">Subheading</label>
                        <input type="text" name="subheading" id="subheading" class="form-control" required>
                    </div>

                    <!-- Content -->
                    <div class="mb-3">
                        <label for="content" class="form-label">Content</label>
                        <textarea name="content" id="content" class="form-control" required></textarea>
                    </div>

                    <!-- Image URL -->
                    <div class="mb-3">
                        <label for="image" class="form-label">Image<small> (File size less than 10 mb)</small></label>
                        <input type="file" name="image" id="image" class="form-control" accept=".jpeg, .jpg" required>
                    </div>

                    <!-- Submit Button -->
                    <div class="text-center mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
</body>
</html>

